@{
    ViewBag.Title = "Index";
    Layout = null;
}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>无标题文档</title>
    <link href="/Areas/Admin/Assets/styles/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="/Content/css/main.css" />
    <link rel="stylesheet" href="/Content/css/base.css" />
    <link rel="icon" href="http://bbs.bangke.com/app/views/img/favicon.ico" mce_href="/app/views/img/favicon.ico" type="image/x-icon">
    <script src="/Content/js/jquery/1.11.3/jquery.min.js"></script>
    @*<script src="/Contejs/jquery-3.2.1.slim.min.js" language="javascript" type="text/javascript"></script>*@
    <script src="/Areas/Admin/Assets/scripts/bootstrap.js"></script>
</head>
<body>
    <div class="flex f-wrap f-just-s">
        <div id="all" class="bg-rgba-white ux-w-80">
            @{
                var user= (User)Session["loginuser"];
                if(user==null)
                {
                    user= (User)Session["browseuser"];
                }
                <!--header-->
                <div class="uz-h-55 pa-t-15">
                    <div class="ma-l-30">
                        <a href="#" class="culb">6789Club</a>
                        <div class="left ma-l-15">
                            <input type="text" class="search" placeholder="请输入您需要查找的内容 …" />
                        </div>
                    </div>
                    <div class="uz-w-180 right ma-r-15">
                        <a href='/User' class="ma-r-4">
                            <img alt="image" src="@user.Image" width="26" height="26" class="bd-r-13" />
                            <span class="ma-r-15 f-c-gray">@user.Name</span>
                        </a>
                        <a href="/Notice" class="ma-r-4">
                            <img alt="image" src="/Content/img/pic_01.gif" width="26" height="26" />
                        </a>
                        <a href="/User/Introduction">
                            <img src="/Content/img/pic_02.gif" width="26" height="26" />
                        </a>
                    </div>
                </div>
                <!--蓝条-->
                <div class="blue-bar"><a href="/Post">主页</a> / <a href="#">用户资料</a></div>
                <!--main-->
                    <div class="inline-flex f-wrap f-just-s ux-w-100 ma-b-30">
                        <div class="ma-t-20 ux-w-95">
                            <div class="container ux-w-100 ma-t-10">
                                <div class="row">
                                    <div class="col-md-7 pa-0">
                                        <div class="ux-w-100 uz-h-4 bg-c-white2"></div>
                                        <div class="bg-c-white">
                                            <div class="f-s-14 pa-t-14 pa-b-7 pa-l-15 f-c-gray f-w-b">我的动态</div>
                                            <div class="height_auto pa-t-15">
                                                <ul class="user_tab height_auto ma-0 pa-l-20">
                                                    <li class="user_tab_li"><a href="#" class="f-c-gray dis_b">帖子</a></li>
                                                    <li class="user_tab_lis"><a href="#" class="f-c-gray_2 dis_b">回复</a></li>
                                                    <li class="user_tab_lis"><a href="#" class="f-c-gray_2 dis_b">收藏</a></li>
                                                    <li class="user_tab_lis"><a href="#" class="f-c-gray_2 dis_b">粉丝</a></li>
                                                </ul>
                                                <div class="ux-w-100 uz-h-1 bg-c-gray" style="margin-top:-1px;"></div>
                                            </div>
                                            <div class="pa-t-60 pa-b-80 center f-s-12 f-c-gray_2">暂无数据</div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-md-offset-1 col-sm-offset-0 bg-c-white pa-0">
                                        <div class="ux-w-100 uz-h-4 bg-c-white2"></div>
                                        <div class="f-s-14 pa-t-14 pa-b-7 pa-l-15 f-c-gray f-w-b">用户资料</div>
                                        <div class="height_auto pa_r">
                                            <img src="/Content/img/pbg.jpg" class="ux-w-100" />
                                            <div class="user_head">
                                            <img src="@user.Image" width="100" height="100" class="bd-r-50 bod-1-white pa" style="left:calc(50% - 50px);top:calc(50% - 50px);" /> </div>
                                        </div>
                                        <div class="text-center pa-t-20"> <span class="f-c-gray">@user.Name</span> <span class="f-c-yellows">@user.Level.Name</span> </div>
                                        <div class="text-center pa-t-15 pa-b-30">
                                            <p class="f-s-12"> <a href="#" class="ma-r-4">@user.Gold</a><a href="#" class="user_c bd-r-3 ma-l-5"><i class="fa fa-cny"></i>充金币</a> <a href="#" class="user_h bd-r-3"><i class="fa fa-cny"></i>充话费</a> </p>
                                        </div>
                                        <div class="ux-w-98 max-l-1 bod-t-1 f-c-gray f-w-b pa-t-35 pa-b-40 height_auto">
                                            <div class="ux-w-33_3 left center">
                                                <span>0</span>
                                                <h5>帖子</h5>
                                            </div>
                                            <div class="ux-w-33_3 left center">
                                                <span>0</span>
                                                <h5>回复</h5>
                                            </div>
                                            <div class="ux-w-33_3 left center">
                                                <span>0</span>
                                                <h5>粉丝</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            }
            <!--foot-->
            <div class="bg-c-white ma-t-35">
                <div class="ux-w-98 f-s-13 bod-t-1 ma-l-15 ma-r-15 pa-t-10">
                    <div class="right ma-b-10">苏ICP备13055054号-2</div>
                    <div>Copyright © 2016 江苏嬉戏谷科技有限公司</div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(function () {
            $('.user_tab li').click(
                function () {
                    $(this).removeClass('user_tab_lis').siblings().addClass('user_tab_lis');
                    $(this).find('a').removeClass('f-c-gray_2');
                    $(this).addClass('user_tab_li').siblings().removeClass('user_tab_li');
                    $(this).find('a').addClass('f-c-gray');
                    $(this).siblings().find('a').removeClass('f-c-gray');
                    $(this).siblings().find('a').addClass('f-c-gray_2');
                })
        })
        //根据浏览器宽度自适应
        window.onresize = function () {
            var width = $(window).width();
            if (width <= 973) {
                $("#all").addClass("ux-w-100");
            }
            else {
                $("#all").removeClass("ux-w-100");
            }
        }
    </script>
</body>
</html>
