
@{
    ViewBag.Title = ViewData["title"];
}
@model User
<!-- /section:basics/sidebar -->
<div class="main-content">
    <div class="main-content-inner">
        <!-- #section:basics/content.breadcrumbs -->
        <div class="breadcrumbs" id="breadcrumbs">
            <script type="text/javascript">
                try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
            </script>
            <!-- /section:basics/content.breadcrumbs -->
            <ul class="breadcrumb">
                <li> <i class="ace-icon fa fa-home home-icon"></i>首页</li>
                <li>用户管理</li>
                <li>@ViewData["title"]</li>
            </ul><!-- /.breadcrumb -->
        </div>
        <div class="page-content">
            <div class="row">
                <form class="form-horizontal" role="form" action="/admin/user/save" method="post">
                    <div class="ch_divone col-sm-12">
                        <div class="col-sm-12">
                            <b>@ViewData["title"]</b>
                        </div>
                        <div class="col-sm-2">
                            <img id="avatars" class="img-responsive" src='@Model.Image' />
                            <input id="image" name="image" type="hidden" value="@Model.Image" />
                            <p class="text-center">当前用户头像</p>
                        </div>
                        <div class="col-sm-6">

                            <div class="form-group hidden">
                                <label class="col-sm-3 control-label no-padding-right" for="form-field-1">ID</label>
                                <div class="col-sm-6">
                                    <input type="text" id="id" name="id" value="@Model.Id" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="form-field-1">用户名</label>
                                <div class="col-sm-8">
                                    <input type="text" id="name" name="name" placeholder="用户名" class="col-xs-8 col-xs-8" value="@Model.Name" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="form-field-1">账号</label>
                                <div class="col-xs-8">
                                    <input type="text" id="account" name="account" placeholder="账号" class="col-xs-8 col-xs-8" value="@Model.Account" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="form-field-1">密码</label>
                                <div class="col-xs-8">
                                    <input type="text" id="password" name="password" placeholder="请输入新密码" class="col-xs-8 col-xs-8" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="form-field-select-1">等级</label>
                                <div class="col-xs-8">
                                    @Html.DropDownList("levelId",new SelectList(ViewBag.SeletItems,"Value","Text"),new { @class = "col-xs-8 col-xs-8" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="form-field-1">积分</label>
                                <div class="col-xs-8">
                                    <input type="text" id="integral" name="integral" placeholder="积分" class="col-xs-8 col-xs-8" value="@Model.Integral" />
                                </div>
                            </div>
                            <!----/提交和返回按钮--->
                            <div class="clearfix form-actions">
                                <div class="col-md-offset-3 col-md-9">
                                    <button class="btn btn-info" type="submit">
                                        <i class="ace-icon fa fa-check bigger-110"></i>提交
                                    </button>
                                    <a class="btn" href="/admin/user/index" type="reset">
                                        <i class="ace-icon fa fa-retweet bigger-110"></i>返回
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <img src="/Assets/avatars/avatars (2).png" class="avatars col-xs-2 col-sm-2" />
                            <img src="/Assets/avatars/avatars (3).png" class="avatars col-xs-2 col-sm-2" />
                            <img src="/Assets/avatars/avatars (4).png" class="avatars col-xs-2 col-sm-2" />
                            <img src="/Assets/avatars/avatars (5).png" class="avatars col-xs-2 col-sm-2" />
                            <img src="/Assets/avatars/avatars (6).png" class="avatars col-xs-2 col-sm-2" />
                            <img src="/Assets/avatars/avatars (7).png" class="avatars col-xs-2 col-sm-2" />
                            <img src="/Assets/avatars/avatars (8).png" class="avatars col-xs-2 col-sm-2" />
                            <img src="/Assets/avatars/avatars (9).png" class="avatars col-xs-2 col-sm-2" />
                            <img src="/Assets/avatars/avatars (10).png" class="avatars col-xs-2 col-sm-2" />
                            <img src="/Assets/avatars/avatars (11).png" class="avatars col-xs-2 col-sm-2" />
                            <img src="/Assets/avatars/avatars (12).png" class="avatars col-xs-2 col-sm-2" />
                            <img src="/Assets/avatars/avatars (13).png" class="avatars col-xs-2 col-sm-2" />
                            <img src="/Assets/avatars/avatars (14).png" class="avatars col-xs-2 col-sm-2" />
                            <img src="/Assets/avatars/avatars (15).png" class="avatars col-xs-2 col-sm-2" />
                            <img src="/Assets/avatars/avatars (16).png" class="avatars col-xs-2 col-sm-2" />
                            <img src="/Assets/avatars/avatars (17).png" class="avatars col-xs-2 col-sm-2" />
                            <img src="/Assets/avatars/avatars (18).png" class="avatars col-xs-2 col-sm-2" />
                            <img src="/Assets/avatars/avatars (19).png" class="avatars col-xs-2 col-sm-2" />
                            <img src="/Assets/avatars/avatars (20).png" class="avatars col-xs-2 col-sm-2" />
                            <img src="/Assets/avatars/avatars (21).png" class="avatars col-xs-2 col-sm-2" />
                            <img src="/Assets/avatars/avatars (22).png" class="avatars col-xs-2 col-sm-2" />
                            <img src="/Assets/avatars/avatars (23).png" class="avatars col-xs-2 col-sm-2" />
                            <img src="/Assets/avatars/avatars (24).png" class="avatars col-xs-2 col-sm-2" />
                            <img src="/Assets/avatars/avatars (25).png" class="avatars col-xs-2 col-sm-2" />
                            <img src="/Assets/avatars/avatars (26).png" class="avatars col-xs-2 col-sm-2" />
                            <img src="/Assets/avatars/avatars (27).png" class="avatars col-xs-2 col-sm-2" />
                            <img src="/Assets/avatars/avatars (28).png" class="avatars col-xs-2 col-sm-2" />
                            <img src="/Assets/avatars/avatars (29).png" class="avatars col-xs-2 col-sm-2" />
                            <img src="/Assets/avatars/avatars (30).png" class="avatars col-xs-2 col-sm-2" />
                            <img src="/Assets/avatars/avatars (31).png" class="avatars col-xs-2 col-sm-2" />
                            <p class="text-center">请选择新头像</p>
                        </div>
                        <!---/ch_divone--->
                    </div>
                </form>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.page-content -->
    </div>
</div>
